MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=expense_control
MYSQL_PORT=3306

#bot
TELEGRAM_BOT_TOKEN=token_do_bot
ALLOWED_TELEGRAM_USER_ID=id_do_bot
API_URL=url_local
BOT_API_KEY=api_key_bot